<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hi, my name is Brent Stradling. I'm a Frontend Developer and Marketing Professional in Omaha, NE. I help entrepreneurs build their brands and engage their audience to help them grow their businesses.</p>
            </div>
            <div class="col-lg-4 spacer-section text-center">
                <h3 class="section-heading">Experience</h3>
                <hr class="light about-hr">
								<h4 class="section-heading">Vyral Marketing — Web Developer</h4>
								<p class="text-faded">
								JANUARY 2014 - PRESENT
            </div>
            <div class="col-lg-4 spacer-section text-center">
                <h3 class="section-heading">Skills</h3>
                <hr class="light about-hr">
								<p class="text-faded">
								Experience developing websites with HTML, CSS/SASS, Javascript/jQuery, and Python using Flask with a mobile first approach in completely responsive web design.
            </div>
            <div class="col-lg-4 spacer-section text-center">
                <h3 class="section-heading">Education</h3>
                <hr class="light about-hr">
								<h4 class="section-heading ">Metropolitan Community College</h4>
								<p class="text-faded">
								MARCH  2014 - MARCH 2016
            </div>
        </div>
    </div>
</section>
